<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/hotelContent.css' />
    <link rel='stylesheet' href='/stylesheets/hotelComments.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="/stylesheets/star-rating.css" media="all" rel="stylesheet" type="text/css" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src='http://code.jquery.com/jquery-latest.js'></script>
    <script src="/javascript/star-rating.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascript/hotelContent.js"></script>
    <script type="text/javascript" src="/javascript/ajaxWentHotel.js"></script>
    <script type="text/javascript" src="/javascript/ajaxComment.js"></script>
</head>

<body>
    <% include ../layout/main/navbar %>
    <div id="side_bar" class="row-offcanvas row-offcanvas-left">
        <% include ../layout/main/sidebar %>
        <div id="main">
            <br>
            <% include ../layout/hotelContent %>
        </div>
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
    $(document).on('ready', function(){
        $('#inputComment').rating();
        $('#input-3').rating({displayOnly: true, step: 0.5});
    });
    $('#rating').rating();
    </script>
</body>

</html>
