<div class="container">
    <div class="form-group">
       <label for="exampleFormControlSelect1">타입</label>
       <select class="form-control" id="type" name="type">
         <option value="address">도서이름</option>
         <option value="name">저자</option>
       </select>
     </div>
    <div class="search-box" id="SBox">
        <input name="hotelName" id="search" placeholder="도서 검색" type="text">
        <div class="also search-link" id="searchclick"></div>
    </div>
    <br><br>
</div>
